<div class="footer__inner flex">
    <div class="footer__section">
        <div class="left-foot">
            <div class="footer__company">
                <!-- <h3>服務據點</h3> -->
                <div class="footer__company__information">
                    <div class="footer__company__location">
                        <h3 class="footer__company_location_title"><a href="#">台中總公司</a></h3>
                        <ul>
                            <li><i class="fa-solid fa-phone"></i><a href="tel:+886-4-2315-7411">04-2315-7411</a></li>
                            <li><i class="fa-solid fa-fax"></i><a href="tel:+886-4-2315-2210">04-2315-2210</a></li>
                            <li>週一至週五 09:00～18:00</li>
                            <li><a href="https://goo.gl/maps/WPqJ3SMCmqz3UR6Q6" target="_blank">台中市西屯區大河街8號</a></li>
                        </ul>
                    </div>
                    <div class="footer__company__location">
                        <h3 class="footer__company__location--title"><a href="#">台北分公司</a></h3>
                        <ul class="footer__company__location__details">
                            <li><i class="fa-solid fa-phone"></i><a href="tel:+886-2-2228-8785">02-2228-8785</a></li>
                            <li><i class="fa-solid fa-fax"></i><a href="tel:+886+2+2228+8795">02-2228-8795</a></li>
                            <li>週一至週五 09:00～18:00</li>
                            <li><a href="https://goo.gl/maps/uS3fjtKLCcM7pkZq7" target="_blank">新北市中和區中山路二段351號4樓之4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-foot">
            <div class="footer__information">
                <h3 class="footer__information--title">關於我們</h3>
                <ul>
                    <li><a href="/Company/AboutUs.html">關於家裡蹲</a></li>
                    <li><a href="#">專欄文章</a></li>
                </ul>
            </div>
            <div class="footer__information">
                <h3 class="footer__information--title">服務指南</h3>
                <ul>
                    <li><a href="/Company/Contact.html">聯絡我們</a></li>
                    <li><a href="/faq.html">常見問題</a></li>
                    <li><a href="/faq.html?category=other-issues&theme=technical-support#faq">遠端協助</a></li>
                    <li><a href="/faq.html?category=prepayment-problem&theme=after-sales-service">退換貨說明</a></li>
                </ul>
            </div>
            <div class="footer__information">
                <h3 class="footer__information--title">會員相關</h3>
                <ul>
                    <li><a href="/faq.html?category=beginner-guide&theme=become-a-member#faq">如何加入會員？</a></li>
                    <li><a href="/faq.html?category=prepayment-problem&theme=prepayment#faq">付款方式</a></li>
                    <li><a href="">預儲優惠</a></li>
                </ul>
            </div>
            <div class="footer__information">
                <h3 class="footer__information--title">線上服務</h3>
                <ul>
                    <li>
                        <a href="https://line.me/R/ti/p/H5l3PVSRrd" target="_blank" class="link-i">
                            <i class="fa-brands fa-line fa-2x"></i>
                            <!-- <p>官方LINE</p> -->
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/homemaking123/" target="_blank" class="link-i">
                            <i class="fa-brands fa-facebook fa-2x"></i>
                            <!-- <p>Facebook</p> -->
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__bottommost">
        <div class="footer__bottommost__inner">
            <p class="footer__bottommost__copyright">家裡蹲創意印刷股份有限公司 ©2015 Home Making Creative Printing Co.,Ltd. All
                Rights Reserved.</p>
            <ul>
                <li><a href="#">服務使用條款</a></li>
                <li><a href="#">隱私權條款</a></li>
            </ul>
        </div>
    </div>
</div>