<div class="header__inner flex">
    <div class="banner">
        <div class="banner__inner">
            <div class="logo">
                <a href="/"><img src="./images/base/LOGO.png" alt="LOGO"></a>
            </div>
            <div class="search-and-login v-center">
                <!-- <div class="search-and-login__search">
                    <form class="search_form" id="search-form">
                        <input type="text" class="search-form--input" id="search-input" onkeyup="search()"
                            autocomplete="off" placeholder="請輸入產品關鍵字">
                        <button type="submit" class="search-form--button" id="search-button"><i
                                class="fa-solid fa-magnifying-glass" style="color: #fff;"></i></button>
                        <div class="search-form--list" id="search-list">
                            <div class="search_listItem search_no-search-result" style="display: none;">
                                <h5>查無符合的產品</h5>
                                <p>請改用其他關鍵字試試看</p>
                            </div>
                        </div>
                    </form>
                </div> -->
                <div class="search-and-login__links v-center">
                    <div class="search-and-login__link--cart-drawer">
                        <div class="cart-drawer-container">
                            <a href="" class="link-i"><i class="fa-solid fa-cart-shopping fa-xl"></i></a>
                        </div>
                    </div>
                    <div class="search-and-login__link--account">
                        <a href="" class="link-i"><i class="fa-solid fa-circle-user fa-xl"></i></a>
                    </div>
                    <div class="search-and-login__link--login v-center" style="display: none;">
                        <div class="link--login">
                            <a href="" class="link-i">註冊</a>
                        </div>
                        <span class="link--separator"></span>
                        <div class="link--signup">
                            <a href="" class="link-i">登入</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="navbar__inner v-center">
            <div class="navbar__links v-center">
                <a href="" class="navbar__links--link">產品總覽<i class="fa-solid fa-chevron-down fa-xs"></i></a>
                <a href="" class="navbar__links--link">新手上路</a>
                <a href="" class="navbar__links--link">線上查價</a>
                <a href="" class="navbar__links--link">預繳付款</a>
                <a href="" class="navbar__links--link">後加工價格表</a>
                <a href="" class="navbar__links--link">常見須知<i class="fa-solid fa-chevron-down fa-xs"></i></a>
                <a href="" class="navbar__links--link">下載中心<i class="fa-solid fa-chevron-down fa-xs"></i></a>
                <a href="" class="navbar__links--link">樣本檔產生器</a>
            </div>
        </div>
    </div>
</div>