*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    letter-spacing: 1px;
    transition: background .3s ease;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: $background-color;
    //background-color: $background-color;
    color: $main-font-color;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1{
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;
}

#root,
#__next {
    isolation: isolate;
}

a{
    color: #333333;
    text-decoration: none;
    &:hover{
        color:$main-color;
    }
}